In [1]:
a=10
a

10

In [2]:
a=10
type(a)

int

In [3]:
a="raghu"
print(a)
type(a)

raghu

str

In [4]:
a=2+3j
print(a)
type(a)

(2+3j)

complex

In [5]:
a=True
print(a)
type(a)

True

bool

In [6]:
a=20.0
print(a)
type(a)

20.0

float

In [7]:
a="hare"
b="krishna"
c="rama"
d="krishna"
e="ram"
f="jam"
g="mam"
h="kim"
i="name"
j="raghu"
z=a+b+c+d+e+f+g+h+i+j
print(z)

harekrishnaramakrishnaramjammamkimnameraghu

In [8]:

i=9
j=10
z=a+b+c+d+e+f+g+h+i+j
print(z)

55

##this cell is used for mark down

# addition +
# substraction -
# multiplication *
# division /
# remainder %
# power **
# floor division //

In [6]:
a=10
b=20
c=a+b
d=a-b
e=a*b
f=a/b
g=a%b
h=a**b
i=a//b
print(c,d,e,f,g,h,i)

30 -10 200 0.5 10 100000000000000000000 0

In [7]:
a=45
b=30
print(a>b,a<b,a==b,a!=b,a>=b,a<=b)

True False False True True False

In [8]:
d>10

False

In [1]:
s=20
s>10

True

In [2]:
s=100
s>10

True

In [3]:
cgpa=10.0
cgpa>9.0 and cgpa<=10.0

True

In [4]:
cgpa=8.2
cgpa>8.0 or cgpa<=9.0

True

a=1,2,3
1 in a

In [5]:
a={1,2,3,4}
1 in a

True

In [5]:
def leap_year(a):
    leap =False
    if(a%4==0 and a%100==0 and a%400==0):
        leap=True
    return leap
a=int(input())

print(leap_year(a))

2004
False

In [44]:
a=input()
b=a.split()
c=[]
for i in b:
    c+=i+" "
    d=",".join(c)
    
print([d])

sri
['s,r,i, ']

In [5]:
def fibanoci(x):
    if x<=1:
        return 1
    return fibanoci(x-1)+fibanoci(x-2)
x=int(input())
print( fibanoci(x))

9
55

In [6]:
def recursion(n):
    if n==1:
        return 1
    return n*recursion(n-1)
n=int(input())
print( recursion(n))

4
24

In [3]:
a=input().split()
c=[]
for i in a:
    i=int(i)
    c.append(i)
    
    
    
    
    
print(c)

1 2 3 4
[1, 2, 3, 4]

In [17]:
a=[1,2,3,4,5]
a.append(5)
print(a)
b=[9,8,7,6]
c=b.extend(a)
print(b)

[1, 2, 3, 4, 5, 5]
[9, 8, 7, 6, 1, 2, 3, 4, 5, 5]

In [19]:
a=[1,2,3,4]
c=a.pop()
print(c)
d=a.pop(1)
print(a)

4
[1, 3]

In [22]:
a.remove(1)
print(a)

[3]

In [23]:
a.clear()
print(a)

[]

In [25]:
a.count(0)
print(a)

[]

In [26]:
a=[1,2,3,4]
a.index(1)

0

In [27]:
a.insert(0,100)
print(a)

[100, 1, 2, 3, 4]

In [45]:
a=input()
b=a.split(",")
c=[]
for i in b:
    i=int(i)
    c.append(f"'{i}'")
    d=",".join(c)
    
print(d)

2345
'2345'

In [40]:
2345

2345

In [2]:
a=[]

for i in range(4):
    b=int(input())
    a.append(b)
print(a)

2345
2345
2245
2345
[2345, 2345, 2245, 2345]

In [1]:
list1 =input().split()
b=input().split()
for i in list1:
    for j in b:
        print(i,j)

2 3 4 5
5 6 7 8
2 5
2 6
2 7
2 8
3 5
3 6
3 7
3 8
4 5
4 6
4 7
4 8
5 5
5 6
5 7
5 8

In [2]:
l1=input().split()
l2=[]
for i in l1:
    l2.append(i)
print(l2)

2 3 4 5
['2', '3', '4', '5']

In [3]:
l1=input().split()
l2=[]
for i in l1:
    l2+=[i]
print(l2)

2 3 4 5
['2', '3', '4', '5']

In [11]:
a=input().split()
max=0
for i in a:
    i=int(i)
    if(i>max):
        max=i
print(max)

5 3 4 2 1
5

In [12]:
a=input().split()
min= n
for i in a:
    i=int(i)
    if(i<min):
        min=i
print(i)

 2 3 4 5
5

In [13]:
numbers=[1,2,3,4,5,33,22]
for i in range(0,len(numbers)):
    for j in range(i+1,len(numbers)):
        if(numbers[i]>numbers[j]):
            temp=numbers[i]
            numbers[i]=numbers[j]
            numbers[j]=temp
print(numbers)

[1, 2, 3, 4, 5, 22, 33]

In [14]:
numbers=[1,2,3,4,5,33,22]
for i in range(0,len(numbers)):
    for j in range(i+1,len(numbers)):
        if(numbers[i]<numbers[j]):
            temp=numbers[i]
            numbers[i]=numbers[j]
            numbers[j]=temp
print(numbers)

[33, 22, 5, 4, 3, 2, 1]

In [16]:

def sum(numbers):
    if numbers<10:
        return numbers
    return(numbers%10)+sum(numbers//10)
numbers=int(input())
print(sum(numbers))

234
9

In [18]:
a=int(input())
fact=1
for i in range(1,a+1):
    fact*=i
print(fact)

5
120

In [21]:
def fact(numbers):
    if numbers==1:
        return 1
    return numbers*fact(numbers-1)
a=int(input())
print(fact(a))

5
120

In [30]:

string = input('Enter the string: ')


i=0
for i in range(len(string)):
   if string[i]!=string[-1-i]:
      print(string,'is not a Palindrome')
      break
else:
    print(string,'is a Palindrome')

Enter the string: marry
marry is not a Palindrome

In [37]:
a=int(input())
for i in range(1,a+1):
    if i%2==0:
        print(i)
for i in range(1,a+1):
    if i%2==1:
        print(i)

8
2
4
6
8
1
3
5
7

In [38]:
a=int(input())
sum=0
for i in range(1,a+1):
    if i%2==0:
        sum+=i
print(sum)

8
20

In [1]:
def palindrome(string):
    for i in range(len(string)):
        if string[i]!=string[-1-i]:
            print(string,"is  not palindrome")
    else:
        print(string,"is palindrome")
string=input()
palindrome(string)

madam
madam is palindrome

In [ ]:
d={101:{50:[7,8,9,10],'apple':(20,10,70,[90,80,270])}}
d[101]['apple'][3][1]
d[101]

In [4]:
a=input().split()
c=input().split()
i=int(i)
j=int(j)

for i in a:
    for j in c:
        print(i,j)

2 3 4 5
3 4 5 6
2 3
2 4
2 5
2 6
3 3
3 4
3 5
3 6
4 3
4 4
4 5
4 6
5 3
5 4
5 5
5 6

In [ ]:
a=input()
b=len(a)
sum=0
for i in a:
    i=int(i)
    if i%2==0:
        sum+=i
        d=sum/b
    else:
        d=sum+1/b

In [2]:
a={"pen"}
a.add("pencil")
print(a)

{'pencil', 'pen'}

In [10]:
a.discard("raghy")
print(a)

{'pencil'}

In [11]:
a.discard("penci")
a

{'pencil'}

In [12]:
a.remove("pemc")
a

KeyError: 'pemc'

a={"pen","pencil"}
a.update("raghu")
print(a)

In [13]:
a,=1,
type(a)

int

In [14]:
a=1,
type(a)

tuple

In [15]:
a=(1)
type(a)

int

In [16]:
a=1,2
type(a)

tuple

In [17]:
a=int(input())
for i in range(1,a+1):
    if i%2==0:
        print(i)
else:
    print("Done")

5
2
4
Done

In [18]:
a=0
type(a)

int

In [20]:
a=None
print(type(a))

<class 'NoneType'>

In [23]:
def function(x,y):
    if x==1 or y==1:
        return 1
    return x+y,x*y
x=int(input())
y=int(input())
print(x+y)
print(y*x)

3
3
6
9

In [25]:
a=input()
if a.startswith(("t" , "T")):
    print("True")
elif a.startswith(("m" , "M")):
    print("True")
elif a.startswith(("s" ,"S")):
    print("True")

sai
True

In [28]:
a=input()
if a[0].lower() in('s','m','h'):
    print("yes")
else:
    print("no")

Sai
yes

In [1]:
dollars=[40,20,70,50]
b=[]
for i in dollars:
    c=i*85
    b.append(c)
print(b)

[3400, 1700, 5950, 4250]

In [2]:
a=[1,2,3,4,5,67,88]
even=[]
odd=[]
for i in a:
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
print(even)
print(odd)

[2, 4, 88]
[1, 3, 5, 67]

In [20]:
num=[39,45,69]
c=[]

for i in num:
    i=str(i)
    b=i.replace("9","1")
    b=int(b)
    c.append(b)
print(c)

[31, 45, 61]

In [8]:
a=input()

if i[0].isupper():
    print("True")
else:
    print("False")

min
False

In [13]:
a=input()
if a.isdigit():
    print("digit")
else:
    print("false")

12
digit

In [14]:
a="RAGHU"
print(a.lower())

raghu

In [39]:

a=10
while a<20:
    a+=1
    print(a)

11
12
13
14
15
16
17
18
19
20

In [49]:
a=15
while a>10:
    a-=1
    print(a)

14
13
12
11
10

In [48]:
a=int(input())
count=1
while count<a:
    count+=1
print(count)

10
10

In [51]:
a=int(input())
count=1
while count<a:
    count+=1
    print(10*count)

10
20
30
40
50
60
70
80
90
100

In [52]:
a=int(input())
for i in range(1,a+1):
    print("*"*i)

5
*
**
***
****
*****

In [2]:
a=int(input())
if a%4==0:
    if a%100==0:
        if a%400==0:
            print("True")
        else:
            print("False")
    else:
        print("True")
else:
    print("False")

2005
False

In [3]:
import numpy as np
arr=np.array([1,2,3,4])
print(arr)

[1 2 3 4]

In [7]:
import numpy as np
arr=np.array([[1,2],[3,4]])
print(arr)

[[1 2]
 [3 4]]

In [45]:
import array as arr
arr=arr.array([1,2],[3,4])

TypeError: array() argument 1 must be a unicode character, not list

In [10]:
np.random.normal(18,50)

14.172044456649095

In [14]:
a=[30,20,5,8,9]
b=[]
for i in a:
    i=i+5
    b.append(i)
    
print(b)

[35, 25, 10, 13, 14]

In [19]:
s=(6,2,3,9,7,5,8)
b=[]
for i in s:
    j=i**2
    b.append(j)
    
print(tuple(b))

(36, 4, 9, 81, 49, 25, 64)

In [26]:
s=(36,4,9,81,49,25,64)
t=list(s)
b=[]
for i in s:
    if i>20:
        b.append(i)
print(tuple(b))

(36, 81, 49, 25, 64)

In [28]:
import numpy as np
arr=np.array([10,30,40,50,60])
arr

array([10, 30, 40, 50, 60])

In [29]:
arr+5

array([15, 35, 45, 55, 65])

In [30]:
arr**2

array([ 100,  900, 1600, 2500, 3600])

In [31]:
arr//0.5

array([ 20.,  60.,  80., 100., 120.])

In [35]:
arr>30

array([False, False,  True,  True,  True])

In [39]:
arr[arr>30]

array([40, 50, 60])

In [40]:
arr[0]

10

In [41]:
max(arr)

60

In [42]:
min(arr)

10

In [48]:
a="c"
print(ord(a))

99

In [50]:
a=100
print(chr(a))

d

In [55]:
import numpy as np
arr=np.array([10,30,40,50,60])
np.where(arr>20)

(array([1, 2, 3, 4], dtype=int64),)

In [59]:
a=[1,2,3,4]
for i in a:
    b=a.index(i)
    print(b)

0
1
2
3

In [1]:
import numpy as np
a=np.random.randint(30,90,20)
a

array([67, 41, 69, 75, 47, 76, 80, 37, 77, 47, 69, 69, 68, 67, 37, 72, 82,
       52, 47, 71])

In [2]:
import array as arr
arr=arr.array('i',[1,2,3])
arr

array('i', [1, 2, 3])

In [4]:
a.ndim

1

In [5]:
a.shape

(20,)

In [7]:
b=np.random.randint(23,67,(8,9))
b

array([[42, 62, 53, 41, 62, 32, 58, 24, 37],
       [31, 45, 66, 64, 59, 27, 24, 49, 23],
       [24, 54, 26, 38, 34, 55, 55, 35, 37],
       [62, 27, 28, 64, 56, 58, 64, 44, 40],
       [61, 64, 31, 42, 45, 37, 23, 55, 60],
       [23, 64, 60, 32, 32, 40, 43, 40, 37],
       [27, 52, 26, 33, 62, 56, 48, 31, 50],
       [54, 55, 36, 50, 61, 31, 53, 44, 38]])

In [11]:
b[0:6,1:7]

array([[62, 53, 41, 62, 32, 58],
       [45, 66, 64, 59, 27, 24],
       [54, 26, 38, 34, 55, 55],
       [27, 28, 64, 56, 58, 64],
       [64, 31, 42, 45, 37, 23],
       [64, 60, 32, 32, 40, 43]])

In [14]:
b[1:5,1:6]

array([[45, 66, 64, 59, 27],
       [54, 26, 38, 34, 55],
       [27, 28, 64, 56, 58],
       [64, 31, 42, 45, 37]])

In [15]:
import pandas as pd
k=[1,2,3,4]
np.array(k)

array([1, 2, 3, 4])

In [18]:
pd.Series(k)

0    1
1    2
2    3
3    4
dtype: int64

In [22]:
pd.DataFrame(k)

   0
0  1
1  2
2  3
3  4

In [26]:
k=[[4,7],[2,8],[4,7]]
t=np.array(k)
t

array([[4, 7],
       [2, 8],
       [4, 7]])

In [28]:
pd.Series(t)

ValueError: Data must be 1-dimensional, got ndarray of shape (3, 2) instead

In [29]:
t

array([[4, 7],
       [2, 8],
       [4, 7]])

In [35]:
df=pd.DataFrame(t,columns=['name','sub'],index=[289,290,291])

In [34]:
df.columns

NameError: name 'df' is not defined

In [1]:
a=input()
b=input()
index=0
length=len(b)
for i in a:
    if i==b[index]:
        index+=1
        if index==length:
            break
if index==length:
    print("Yes")
else:
    print("No")

abcd
ac
Yes

NameError: name 'RaghuveeraReddy' is not defined