In [1]:
a=10
a

10

In [2]:
a=10
type(a)

int

In [3]:
a="raghu"
print(a)
type(a)

raghu

str

In [4]:
a=2+3j
print(a)
type(a)

(2+3j)

complex

In [5]:
a=True
print(a)
type(a)

True

bool

In [6]:
a=20.0
print(a)
type(a)

20.0

float

In [7]:
a="hare"
b="krishna"
c="rama"
d="krishna"
e="ram"
f="jam"
g="mam"
h="kim"
i="name"
j="raghu"
z=a+b+c+d+e+f+g+h+i+j
print(z)

harekrishnaramakrishnaramjammamkimnameraghu

In [8]:

i=9
j=10
z=a+b+c+d+e+f+g+h+i+j
print(z)

55

##this cell is used for mark down

# addition +
# substraction -
# multiplication *
# division /
# remainder %
# power **
# floor division //

In [6]:
a=10
b=20
c=a+b
d=a-b
e=a*b
f=a/b
g=a%b
h=a**b
i=a//b
print(c,d,e,f,g,h,i)

30 -10 200 0.5 10 100000000000000000000 0

In [7]:
a=45
b=30
print(a>b,a<b,a==b,a!=b,a>=b,a<=b)

True False False True True False

In [8]:
d>10

False

In [1]:
s=20
s>10

True

In [2]:
s=100
s>10

True

In [3]:
cgpa=10.0
cgpa>9.0 and cgpa<=10.0

True

In [4]:
cgpa=8.2
cgpa>8.0 or cgpa<=9.0

True

a=1,2,3
1 in a

In [5]:
a={1,2,3,4}
1 in a

True

In [5]:
def leap_year(a):
    leap =False
    if(a%4==0 and a%100==0 and a%400==0):
        leap=True
    return leap
a=int(input())

print(leap_year(a))

2004
False

In [44]:
a=input()
b=a.split()
c=[]
for i in b:
    c+=i+" "
    d=",".join(c)
    
print([d])

sri
['s,r,i, ']

In [5]:
def fibanoci(x):
    if x<=1:
        return 1
    return fibanoci(x-1)+fibanoci(x-2)
x=int(input())
print( fibanoci(x))

9
55

In [6]:
def recursion(n):
    if n==1:
        return 1
    return n*recursion(n-1)
n=int(input())
print( recursion(n))

4
24

In [3]:
a=input().split()
c=[]
for i in a:
    i=int(i)
    c.append(i)
    
    
    
    
    
print(c)

1 2 3 4
[1, 2, 3, 4]

In [17]:
a=[1,2,3,4,5]
a.append(5)
print(a)
b=[9,8,7,6]
c=b.extend(a)
print(b)

[1, 2, 3, 4, 5, 5]
[9, 8, 7, 6, 1, 2, 3, 4, 5, 5]

In [19]:
a=[1,2,3,4]
c=a.pop()
print(c)
d=a.pop(1)
print(a)

4
[1, 3]

In [22]:
a.remove(1)
print(a)

[3]

In [23]:
a.clear()
print(a)

[]

In [25]:
a.count(0)
print(a)

[]

In [26]:
a=[1,2,3,4]
a.index(1)

0

In [27]:
a.insert(0,100)
print(a)

[100, 1, 2, 3, 4]

In [45]:
a=input()
b=a.split(",")
c=[]
for i in b:
    i=int(i)
    c.append(f"'{i}'")
    d=",".join(c)
    
print(d)

2345
'2345'

In [40]:
2345

2345

In [2]:
a=[]

for i in range(4):
    b=int(input())
    a.append(b)
print(a)

2345
2345
2245
2345
[2345, 2345, 2245, 2345]

In [1]:
list1 =input().split()
b=input().split()
for i in list1:
    for j in b:
        print(i,j)

2 3 4 5
5 6 7 8
2 5
2 6
2 7
2 8
3 5
3 6
3 7
3 8
4 5
4 6
4 7
4 8
5 5
5 6
5 7
5 8

In [2]:
l1=input().split()
l2=[]
for i in l1:
    l2.append(i)
print(l2)

2 3 4 5
['2', '3', '4', '5']

In [3]:
l1=input().split()
l2=[]
for i in l1:
    l2+=[i]
print(l2)

2 3 4 5
['2', '3', '4', '5']

In [11]:
a=input().split()
max=0
for i in a:
    i=int(i)
    if(i>max):
        max=i
print(max)

5 3 4 2 1
5

In [12]:
a=input().split()
min= n
for i in a:
    i=int(i)
    if(i<min):
        min=i
print(i)

 2 3 4 5
5

In [13]:
numbers=[1,2,3,4,5,33,22]
for i in range(0,len(numbers)):
    for j in range(i+1,len(numbers)):
        if(numbers[i]>numbers[j]):
            temp=numbers[i]
            numbers[i]=numbers[j]
            numbers[j]=temp
print(numbers)

[1, 2, 3, 4, 5, 22, 33]

In [14]:
numbers=[1,2,3,4,5,33,22]
for i in range(0,len(numbers)):
    for j in range(i+1,len(numbers)):
        if(numbers[i]<numbers[j]):
            temp=numbers[i]
            numbers[i]=numbers[j]
            numbers[j]=temp
print(numbers)

[33, 22, 5, 4, 3, 2, 1]

In [16]:

def sum(numbers):
    if numbers<10:
        return numbers
    return(numbers%10)+sum(numbers//10)
numbers=int(input())
print(sum(numbers))

234
9

In [18]:
a=int(input())
fact=1
for i in range(1,a+1):
    fact*=i
print(fact)

5
120

In [21]:
def fact(numbers):
    if numbers==1:
        return 1
    return numbers*fact(numbers-1)
a=int(input())
print(fact(a))

5
120

In [30]:

string = input('Enter the string: ')


i=0
for i in range(len(string)):
   if string[i]!=string[-1-i]:
      print(string,'is not a Palindrome')
      break
else:
    print(string,'is a Palindrome')

Enter the string: marry
marry is not a Palindrome

In [37]:
a=int(input())
for i in range(1,a+1):
    if i%2==0:
        print(i)
for i in range(1,a+1):
    if i%2==1:
        print(i)

8
2
4
6
8
1
3
5
7

In [38]:
a=int(input())
sum=0
for i in range(1,a+1):
    if i%2==0:
        sum+=i
print(sum)

8
20

In [1]:
def palindrome(string):
    for i in range(len(string)):
        if string[i]!=string[-1-i]:
            print(string,"is  not palindrome")
    else:
        print(string,"is palindrome")
string=input()
palindrome(string)

madam
madam is palindrome

In [ ]:
d={101:{50:[7,8,9,10],'apple':(20,10,70,[90,80,270])}}
d[101]['apple'][3][1]
d[101]

In [4]:
a=input().split()
c=input().split()
i=int(i)
j=int(j)

for i in a:
    for j in c:
        print(i,j)

2 3 4 5
3 4 5 6
2 3
2 4
2 5
2 6
3 3
3 4
3 5
3 6
4 3
4 4
4 5
4 6
5 3
5 4
5 5
5 6

In [ ]:
a=input()
b=len(a)
sum=0
for i in a:
    i=int(i)
    if i%2==0:
        sum+=i
        d=sum/b
    else:
        d=sum+1/b